
.wrap {
    position: absolute;
    width: 208px;
    height: 208px;
    top: 50%;
    left: 50%;
    margin-top: -104px;
    margin-left: -104px;
    background-image: url("../images/sample-bg.png");
}

.squ {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #ddd;
    margin: 0;
    font-family: Calibri;
    color: #333;
    border-radius: 20px;
    cursor: default;

    &.squ1 {
        top: 60px;
        left: 50%;
        margin-top:-20px;
        margin-left:-20px;
    }

    &.squ2 {
        top: 50%;
        left: 60px;
        margin-top:-20px;
        margin-left:-20px;
    }

    &.squ3 {
        bottom: 60px;
        left: 50%;
        margin-bottom:-20px;
        margin-left:-20px;
    }

    &.squ4 {
        top: 50%;
        right: 60px;
        margin-top:-20px;
        margin-right:-20px;
    }
}


.tip-content {
    height: 40px;
    width: 220px;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 16px;
    font-family: Calibri, Arial;
    font-weight: 600;
    color: #b6ff00;

    .icon {
        background-image: url("../images/sample-icon.png");
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 10px;
        margin: 0px;
        margin-top: -10px;
    }

    .text {
        width: 180px;
        height: 40px;
        position: absolute;
        top: 0;
        left: 40px;
        line-height: 20px;
        text-align: center;
    }
}



.tip-content-2 {
    width: 420px;

    .text {
        width: 380px;
    }
}
